*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #eeeeee;
	overflow: hidden;
}

.container{
	width:100%;
	height:100%;
	
}

.menu {
}

.menu ul{
	display:inline-flex;
	margin:20px;
}

.menu ul li{
	text-transform: uppercase;
	letter-spacing: 2px;
	list-style: none;
	margin: 0 0px;
	color: #000000;
	cursor: pointer;
	
}

.active {
	color:#000000 !important;
	border-style:solid;
	border-width:1px;
	padding: 5px;
}

.content {
	display:inline-flex;
}

.text {
	display:block;
	padding-left:100px;
	padding-right:300px;
}

.project {
	padding-bottom: 50px;
	display:inline-grid;
}

.contact-button {
	right:20px;
	position:absolute;
	color:#000000;
	text-decoration:none;
	border-style:solid;
	border-width:1px;
	padding:5px;
}

.display-img {
	width:100%;
	height:auto;
	padding:0px;
	margin-top:-4px;
	margin-bottom:-4px;
}

.description {
	display: block;
	margin-bottom: 5px;	
}

.media-container{
	width:100%;
	display: grid; /* (1) */
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
   	max-height:500px;
    grid-gap: -0px;
}

h2 {
	font-style: thin;
	font-weight: lighter;
	padding-bottom:3px;
	letter-spacing: 4px;
	font-size: 12px;
}

.time-marker{
	width:80px;
	margin-left:-90px;
	float:left;
	margin-top:5px;
}